<div class="card">
    <h4 class="text-center">Demandes d'encadrement en attent</h4>
    <table class="table">
        <thead class="text-primary text-center">
            <th>Nom</th>
            <th>Prénom</th>
            <th>N° Inscription</th>
            <th>E-mail</th>
            <th>Filière</th>
            <th>Type du PFE</th>
            <th class="text-center">Détails</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of supervisionRequests | paginate: { itemsPerPage: 5, currentPage: p }">
                <td class="text-center">{{item.student.lastName}}</td>
                <td class="text-center" *ngIf="item.student">{{item.student.firstName}}</td>
                <td class="text-center" *ngIf="item.student">{{item.student.studentNumber}}</td>
                <td class="text-center" *ngIf="item.student">{{item.student.email}}</td>
                <td class="text-center" *ngIf="item.student">{{item.student.major}}</td>
                <td class="text-center">{{item.type}}</td>
                <td class="text-center"><button class="btn btn-primary btn-round" data-toggle="modal"
                        data-target="#decisionModal">Détails</button></td>
                <!-- Modal -->
                <div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="affectation"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Annuler"
                                    #closeSubjectModal>
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div *ngIf="item" class="row card">
                                    <div class="col-md-8 mx-auto">
                                        <div class="card card-user text-center">
                                            <div class="card-header">
                                                <h5 class="card-title">Proposition Sujet PFE</h5>
                                            </div>
                                            <div class="card-body">
                                                <div *ngIf="item.student">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <br>
                                                            <h6>Étudiant</h6>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label for="lastname">Nom</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.student.lastname' #lastname>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label for="firstname">Prénom</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.student.firstname' #firstname>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label for="major">N° d'inscription</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.student.studentNumber'
                                                                    #studentNumber>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label for="cin">CIN</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.student.CIN' #cin>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6 pr-1">
                                                            <div class="form-group">
                                                                <label for="major">Filière</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.student.major' #major>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6 pl-1">
                                                            <div class="form-group">
                                                                <label for="diploma">Diplôme</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.student.diploma' #diploma>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <br>
                                                        <h6>Sujet PFE proposé</h6>
                                                        <br>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label for="title">Titre Sujet</label>
                                                            <input type="text" class="form-control"
                                                                [(ngModel)]='item.title' disabled="" #title>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Description</label>
                                                            <textarea class="form-control textarea"
                                                                [(ngModel)]='item.description' disabled></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label>Catégories</label>
                                                            <div *ngFor="let category of item.categories">
                                                                <span
                                                                    class="badge badge-pill badge-info">{{category}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6 pr-1">
                                                        <div class="form-group">
                                                            <label for="type">Type</label>
                                                            <input type="text" class="form-control" disabled=""
                                                                [(ngModel)]='item.type' #type>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 pl-1">
                                                        <div class="form-group">
                                                            <label for="duration">Durée (mois)</label>
                                                            <input type="text" class="form-control" disabled=""
                                                                [(ngModel)]='item.duration' #duration>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="item.entreprise">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <br>
                                                            <h6>Établissement d'acceuil</h6>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="entreprise">Nom</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.entreprise.name' #entreprise>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="website">Site officiel</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.entreprise.website' #website>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div *ngIf="item.supervisor">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <br>
                                                            <h6>Encadrant accueillant</h6>
                                                            <br>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="supervisor">Nom et Prénom</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.supervisor.firstName + item.supervisor.lastName'
                                                                    #supervisor>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                <label for="supervisorEmail">Email</label>
                                                                <input type="text" class="form-control" disabled=""
                                                                    [(ngModel)]='item.supervisor.email'
                                                                    #supervisorEmail>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="update ml-auto mr-auto">
                                                        <button type="button"
                                                            class="btn btn-primary btn-round" (click)="acceptRequest(item._id)">Accepter</button>
                                                        <button type="button"
                                                            class="btn btn-danger btn-round" (click)="refuseRequest(item._id)">Refuser</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </tr>
        </tbody>
    </table>

    <div class="text-center mt-1">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div>